body{
	background-image: url("backimage.jpg");
	background-size: cover;
	color: white;
}
.container{
	width:300px;
	height:450px;
	background:none;
	border-color: gold;
	border-style: solid;
	border-radius: 20px;
}
button{
	border-radius:20px;
	width:250px;
	height: 40px;
	border-color: gold;
}
button:hover{
	background: cyan;
	color: white;
}
.text{
    border-radius: 20px;
	width: 250px;
	height:40px;
	border-color: gold;
	background: none;
	color: white;
}
a{
	color: rgb(0, 255, 34);
}
::placeholder{
	color: white;
}
center{
	padding-top: 110px;
}